body {
  margin: auto;
  max-width: 1280px;
  background-color: rgb(245, 243, 245);
}

.first {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 2px dashed rgb(148, 3, 150);
}

.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: .5rem;
  padding-bottom: 15px;
  padding-top: 15px;

}
.todo-item{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.todo-item.done {
	opacity: 0.5 ;
}
#toDoInput {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 5px;

}
